*/node_modules
*/.env
externalVolumes
usersService/userImages
productsService/productsImages
productsService/categoryImages
productsService/offersImages
orderingService/paymentTypesImages
productsService/.env
