*/node_modules
*/.env
externalVolumes
productsService/productsImages
productsService/categoryImages
productsService/offersImages
orderingService/
orderingService/paymentTypesImages
productsService/.env