*/node_modules
*/.env
externalVolumes
usersService/userImages
productsService/productsImages
productsService/categoryImages
productsService/offersImages
productsService/.env
productsService
orderingService/paymentTypesImages
