<!DOCTYPE html>
<html>
    <body>
        <h3>
            Hello <%= name %>
        </h3>
        <span> Welcome to Tamam platform </span>
        <p>
        Your verification code is : <span> <%= code %></span>
        </p>
    </body>
</html>